<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Rusty Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Hello,</h1>
    <p>
      This an instante of Rusty Hub, a
      <a href="https://w3c.github.io/websub">Websub Hub</a> software.
    </p>
    <p>
      For more information check the
      <a href="https://github.com/dethos/rusty-hub"
        >repository page at Github.</a
      >
    </p>
  </body>
</html>
